@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
body {
  font-family: 'Mulish', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #5c2e5c;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/* HEADER STYLES */
.header_section {
  background-color: #2E2E4E; /* Dark theme */
  padding: 15px 0;
}

/* NAV-LINK STYLING */
.navbar-nav .nav-link {
  color: black !important;
  font-size: 16px;
  padding: 8px 15px;
  transition: 0.3s;
  border-radius: 5px;
}

/* HOVER EFFECT */
.navbar-nav .nav-link:hover {
  background-color: #3f5461;
  color: white !important;
  padding: 8px 15px;
}



a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  background-color: #f9fbfc;
  padding: 15px 0;
}

.top_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

.user_option a {
  margin-right: 25px;
  color: #000000;
}

.user_option a span {
  margin-left: 5px;
}

.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
}

.search_form .form-control {
  border-radius: 45px;
  height: 40px;
  min-width: unset;
  border: none;
}

.search_form button {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #5c2e5c;
  border-radius: 100%;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #2e2e4e;
  font-size: 24px;
  font-weight: bold;
}
/* Cart Icon Badge */
#cart {
  position: relative;
  cursor: pointer;
}

#cartCount {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #5c5c5c;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 7px;
  display: none;
}

/* Cart Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background:white;
  padding: 20px;
  margin: 15% auto;
  width: 50%;
  border-radius: 8px;
  text-align: center;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.cart-actions button {
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#clearCart {
  background: #2E2E4E;
  color: white;
}

#processOrder {
  background: #2e2e4e;
  color: white;
}

.navbar-brand span {
  color: #2e2e4e;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #2e2e4e;
  text-align: center;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #2e2e4e;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2e2e4e;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0;
  background-color: #f5f6f9;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h5 {
  color: #5c2e5c;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 58px;
  font-size: 3rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #5c2e5c;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #5c2e5c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #5c2e5c;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel_btn_box {
  position: absolute;
  bottom: 0;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
  height: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 3;
}

.slider_section .carousel_btn_box .carousel-control-prev,
.slider_section .carousel_btn_box .carousel-control-next {
  position: unset;
  width: 50px;
  height: 50px;
  background-color: #063547;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
  border-radius: 100%;
}

.slider_section .carousel_btn_box .carousel-control-prev img,
.slider_section .carousel_btn_box .carousel-control-next img {
  width: 10px;
}

.slider_section .carousel_btn_box .carousel-control-prev:hover,
.slider_section .carousel_btn_box .carousel-control-next:hover {
  background-color: #5c2e5c;
}

.catagory_section {
  position: relative;
}

.catagory_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.catagory_section .box .img-box {
  width: 110px;
  min-width: 110px;
  height: 110px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f2f3;
  border-radius: 100%;
}

.catagory_section .box .img-box img {
  width: 55px;
}

.catagory_section .box .detail-box h5 {
  font-weight: bold;
}

.catagory_section .box .detail-box p {
  margin: 0;
}

.catagory_section .box .detail-box a {
  color: #5c2e5c;
}

.catagory_section .box .detail-box a:hover {
  color: #5c2e5c;
}

.catagory_section .box:hover {
  border-color: #5c2e5c;
}

.catagory_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.catagory_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #5c2e5c;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #5c2e5c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catagory_section .btn-box a:hover {
  background-color: transparent;
  color: #5c2e5c;
}
.card-container {
  display: grid;
 grid-template-columns: repeat(3, 1fr); /* 3 columns */
 gap: 20px; /* Adjust space between cards */
 justify-items: center; /* Center align items */
 padding: 20px;
}

.card {
--bg-card: #27272a;
--primary: #5c2e5c;
--primary-800: #3f5461;
--primary-shadow: #5c2e5c;
--light: #d9d9d9;
--zinc-800: #18181b;
--bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

position: relative;

display: flex;
flex-direction: column;
gap: 0.75rem;

padding: 1rem;
width: 14rem;
background-color: var(--bg-card);

border-radius: 1rem;
}
.tag {
position:absolute;
background-color: #742c36;
color: rgb(0, 0, 0);
left: 12px;
top: 12px;
padding: 6px 12px;
border-radius: 15px;
font-size: 0.75em;
font-weight: 500;
z-index:10;
}

.image_container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
  display: flex; /* Added for image alignment */
  justify-content: center;
  align-items: center;
}

.image_container img {
  width: 100%; /* Ensures image fills the width */
  height: 100%; /* Ensures image fills the height */
  object-fit: cover; /* Maintains aspect ratio while covering the container */
  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
  display: none; /* Hide SVG when an image is present */
}
.hidden {
  display: none;
}
.error-message {
  color: red;
  font-size: 14px;
  display: none;
  margin-top: 5px;
}


.title {
overflow: clip;

width: 100%;

font-size: 1rem;
font-weight: 600;
color: var(--light);
text-transform: capitalize;
text-wrap: nowrap;
text-overflow: ellipsis;
}

.card-subtitle {
font-size: 14px;
font-weight: 400;
color: var(--light);
}
.action {
display: flex;
align-items: center;
gap: 1rem;
}

.price {
font-size: 1.5rem;
font-weight: 500;
color: var(--light);
position: initial;
}

.price-container {
 display: flex;
 flex-direction: column;
 align-items: flex-start; /* Align to the left */
}

.strike-price {
 text-decoration: line-through;
 color: gray;
 font-size: 0.9em;
}
.cart-button {
cursor: pointer;

display: flex;
justify-content: center;
align-items: center;
gap: 0.25rem;

padding: 0.4rem;
width: 100%;
background-image: var(--bg-linear);

font-size: 0.75rem;
font-weight: 500;
color: var(--light);
text-wrap: nowrap;

border: 2px solid #5c2e5c;
border-radius: 0.5rem;
box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.cart-button .cart-icon {
width: 1rem;
}
/* Button Styling */
/* Button Container */
.btn-box {
  text-align: center; /* Centers the button */
  margin-top: 20px;
}

/* Button Styling */
.btn-box a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #5c2e5c;
  color: rgb(8, 8, 8);
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #5c2e5c; /* Added border */
  transition: 0.3s ease-in-out;
}

.btn-box a:hover {
  background-color: var(--primary-shadow);
  border-color: var(--zinc-800); /* Change border color on hover */
}


.about_section {
  position: relative;
  background-color: #f5f6f9;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #5c2e5c;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #5c2e5c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #5c2e5c;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 45px;
}

.client_section .client_container .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_container .client_id h5 {
  color: #3f5461;
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .client_container .client_id h6 {
  margin-bottom: 0;
}

.client_section .client_container .img-box {
  width: 125px;
  margin-right: 15px;
}

.client_section .client_container .img-box img {
  width: 100%;
  border-radius: 100%;
}

.client_section .client_container .detail-box {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  background: #063547;
  color: #ffffff;
}

.client_section .client_container .detail-box span {
  margin-top: 25px;
  color: #5c2e5c;
  font-size: 28px;
}
/* MODAL CART */
#cart-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  z-index: 1000;
}

#cart-modal h2 {
  margin-bottom: 15px;
}

#cart-items {
  margin-bottom: 15px;
}

.modal-btn {
  background-color: #ff6600;
  color: white;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-btn:hover {
  background-color: #cc5500;
}

/* BACKDROP */
#cart-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.blog_section {
  background-color: #f5f6f9;
}

.blog_section .box {
  margin-top: 55px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: 0;
  padding: 10px 25px;
  font-size: 18px;
  background-color: #063547;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  padding: 45px 25px 25px 25px;
  background: #ffffff;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  color: #5c2e5c;
}

.contact_section h2 {
  margin-bottom: 45px;
}

.contact_section form {
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
  outline: none;
  color: #101010;
  background: #f1f1f1;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
  border-radius: 15px;
  position:
}

.contact_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.contact_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #5c2e5c;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #5c2e5c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

.contact_section button:hover {
  background-color: transparent;
  color: #5c2e5c;
}

.contact_section .img-box img {
  width: 100%;
}

.info_section {
  background-color: #063547;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info-col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #5c2e5c;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #063547;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 5px;
  font-size: 18px;
}

.info_section .info_social a:hover {
  color: #5c2e5c;
}

.info_section form input {
  border: none;
  padding: 10px 15px;
  background-color: #f7f8f9;
  width: 100%;
  height: 45px;
  color: #000000;
  outline: none;
  border-radius: 45px;
}

.info_section form input::-webkit-input-placeholder {
  color: #556;
}

.info_section form input:-ms-input-placeholder {
  color: #556;
}

.info_section form input::-ms-input-placeholder {
  color: #556;
}

.info_section form input::placeholder {
  color: #556;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #5c2e5c;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #5c2e5c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: transparent;
  color: #5c2e5c;
}

.info_section .map_container {
  width: 100%;
  height: 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.info_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info_section .map_container .map #googleMap {
  height: 100%;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #063547;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */